{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}
{% block form_action %}/lists/{{list.id}}/add_item{% endblock %}

{% block div %}
    <div id="id_list_div">
        <ul>
            {% for item in list.item_set.all %}
                <div class="row">
                    <li>{{ forloop.counter }}: {{ item.text }}</li>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}